#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp ESCAPE      &kp ESCAPE  &kp ESCAPE  &kp ESCAPE      &kp ESCAPE    &kp ESCAPE    &kp ESCAPE  &kp ESCAPE       &kp ESCAPE  &kp ESCAPE  &kp ESCAPE   &kp ESCAPE
&kp TAB         &kp Q       &kp W       &kp E           &kp R         &kp T         &kp Y       &kp U            &kp I       &kp O       &kp P        &kp BACKSLASH
&kp LCTRL       &kp A       &kp S       &kp D           &kp F         &kp G         &kp H       &kp J            &kp K       &kp L       &kp SEMI     &kp APOS
&kp LEFT_SHIFT  &lt 0 Z     &kp X       &kp C           &kp V         &kp B         &kp N       &kp M            &kp COMMA   &kp DOT     &lt 0 SLASH  &kp DELETE
                                        &kp LEFT_ARROW  &kp UP_ARROW  &mo 1         &mo 2       &kp RIGHT_ARROW
                                                        &kp ESCAPE    &kp ESCAPE    &kp ESCAPE
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        nLay {
            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp HASH      &kp DOLLAR    &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE
&kp GRAVE         &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp LBKT       &kp RBKT   &kp F1         &kp F2        &kp F3                &kp F4                 &kp DEL
&kp LEFT_CONTROL  &kp NUMBER_5     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &none          &kp BSLH   &kp F5         &kp F6        &kp F7                &kp F8                 &kp PAGE_UP
&kp LSHFT         &kp NUMBER_9     &kp NUMBER_0  &kp MINUS     &kp EQUAL     &none          &trans     &kp F9         &kp F10       &kp F11               &kp F12                &kp PAGE_DOWN
                                                 &kp LEFT_WIN  &kp SPACE     &trans         &kp ENTER  &kp BACKSPACE
                                                               &none         &none          &trans
            >;
        };

        dLay {
            bindings = <
&kp A             &kp F1      &kp F2      &kp F3         &kp F4         &kp F5          &kp F6        &kp F7         &kp F8    &kp F9     &kp F10  &kp F11
&trans            &kp LS(N1)  &kp LS(N2)  &kp LS(N3)     &kp LS(N4)     &kp LS(LBKT)    &kp LS(RBKT)  &none          &trans    &none      &none    &trans
&kp LEFT_CONTROL  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)     &kp LS(N8)     &none           &kp LS(BSLH)  &trans         &kp UP    &trans     &trans   &trans
&kp LEFT_SHIFT    &kp LS(N9)  &kp LS(N0)  &kp LS(MINUS)  &kp LS(EQUAL)  &none           &none         &kp LEFT       &kp DOWN  &kp RIGHT  &none    &trans
                                          &kp LEFT_ALT   &kp SPACE      &kp ENTER       &trans        &kp BACKSPACE
                                                         &trans         &trans          &none
            >;
        };
    };
};
